* {
  font-family: montserrat;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-link {
  text-decoration: none;
  padding: 0px 0px;
  color: #333;
}

.nav-link:hover {
  font-weight: bold;
  color: #000;
}

.Landing {
  height: 715px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url('./background2.jpg');
  background-size: cover;
}

h1 {
  font-family: 'zilla slab highlight';
}

h2 {
  font-family: 'zilla slab';
  font-size: 30px;
}

.mt-0.pt-0 {
  width: 400px;
}